<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>Escrow Items</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.0.1/firebase-auth.js"></script>
  <script src="app.js"></script>
</head>
<body ng-controller="EscrowItemsController">
  <h1>Escrow Items</h1>
  <div ng-if="!user">
    <p>Please sign in to view your escrow items.</p>
    <button ng-click="signIn()">Sign in</button>
  </div>
  <div ng-if="user">
    <p>Welcome, {{user.email}}!</p>
    <form ng-submit="addItem()">
      <label for="description">Description:</label>
      <input type="text" id="description" ng-model="newItem.description"><br>
      <label for="buyerEmail">Buyer Email:</label>
      <input type="email" id="buyerEmail" ng-model="newItem.buyerEmail"><br>
      <label for="tradePeriod">Trade Period:</label>
      <input type="text" id="tradePeriod" ng-model="newItem.tradePeriod"><br>
      <label for="tradeAmount">Trade Amount:</label>
      <input type="number" id="tradeAmount" ng-model="newItem.tradeAmount"><br>
      <button type="submit">Add Item</button>
    </form>
    <h2>Your Escrow Items</h2>
    <div>
			<table>
				<thead>
					<tr>
						<th>Description</th>
						<th>Buyer Email</th>
						<th>Trade Period</th>
						<th>Trade Amount</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in escrowItems" ng-style="$even ? { 'background-color': '#eee' } : { 'background-color': '#fff' }">
						<td>{{item.description}}</td>
						<td>{{item.buyerEmail}}</td>
						<td>{{item.tradePeriod}}</td>
						<td>{{item.tradeAmount}}</td>
						<td>{{item.tradeStatus}}</td>
					</tr>
				</tbody>
			</table>
    </div>
  </div>
</body>
</html>

